<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

<!--Header -->
<script type='text/javascript' src="{{ url_for('static', filename='head.js') }}"></script>

<div>
    <p style="margin-left:10%;font-size:200%;"> The iterative Linear Interaction Energy method </p>
    <fieldset>
	<p> eTOXlie is an integrated tool that easily allows binding affinity prediction calculation of small molecule toward proteins by the iterative Linear Interaction Energy method.
	
	
	</p>

    </fieldset>
</div>
